.TOP_btn {
	display: none;
    font-size: 50px;
    position: fixed;
    color: #7a8875;
    cursor: pointer;
    right: 50px;
    bottom: 50%;
}


.footer {
	position: relative;
	width: 100%;
	height: 300px;
	background-color:#f3f3f3;
	padding-bottom: 20px;
}
.f_nav { 
	padding: 30px 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #eee;
}

.f_nav h1 {
	margin: 0;
    display: inline;
    float: left;
    font-size: 3em;    
	line-height: 0.4;
	color: #7a8875;
}


.f_nav ul {
    display: inline;
    width: 80%;
}

.f_nav ul li {
	padding: 0px 80px 0;
	text-align: center;
    display: inline;
}
.f_nav ul li a{
	font-size: 16px;
	color: #000;
	font-weight: 700;
}
.f_nav ul li a span {
	font-weight: bold;
}
/*
.f_nav::after{
  content:'';
  display:inline-block;
  width:8px;
  height:2px;
  background:red
}*/
.f_container {
	width: 40%;
	margin: 0 auto;
}

/*--- center ---  */

	.center { 
		display: block;
		float: left;
		width: 30%;
		text-align: left;
	}
	.center ul  {
		padding: 20px 0;
	}
	.center ul li {
		font-weight: bold;
		line-height: 1.5;
		
	}
	.center ul li a {
		color: #000;
	}
	.center ul li:nth-child(2) a {
		font-size: 20px;
	}
.center ul li span {
	font-size: 23px;
	font-weight: bol
}
/*--- class= "form" ---*/
.form { 
		display: block;
		width: 70%;
		float: left;
		font-size: 18px;
		font-weight: 600;
		padding: 5px 0;
	}
/*--- form,input, button ---*/
form {
	margin: 0px 0 25px 0;
}
input {
	margin-top: 20px;
    background: #fff;
    width: 300px;
    height: 40px;
}
input::placeholder {
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
button {
	position: relative;
	background-color: none;
}
.letter {
	position: absolute;
	top: -27px;
    left: 10px;
	font-size: 40px;
	cursor: pointer;
}
.letter_In {
	display: none;
	position: absolute;
	top: -30px;
    left: 10px;
	font-size: 40px;
	cursor: pointer;
}

/*------------------------*/

address{
	font-size: 14px;
    font-style: normal;
    font-weight: normal;
}



