.contanier {
            width: 100vw;
            height: 1000px;	
}
		.contanier::before{
            content: '';
            position: fixed;
            width: 100vw;
            height: 1000px;
            background-image: url("../img/WATER.gif");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
        }
        .contact-form
        {	
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 700px;
			height: 700px;
			padding: 80px 40px;
			box-sizing: border-box;
			background: rgba(255,255,255,.5);
        }
        .avatar {
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            top: calc(-80px/2);
            left: calc(50% - 40px);
        }
		.contact-form form {
			width: 60%;
			margin: 60px auto;

		}

        .contact-form h2 {
            margin: 0;
            padding: 0 0 20px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }
        .contact-form p
        {
            margin: 0;
            padding: 0;
            font-weight: bold;
            color: #fff;
        }
        .contact-form input
        {
            width: 100%;
            margin-bottom: 20px;
        }
        .contact-form input[type="text"],
        .contact-form input[type="password"]
        {
            border: none;
            border-bottom: 2px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }
        .contact-form input[type="submit"] {
			font-weight: bold;
            height: 30px;
            color: #000;
            font-size: 15px;
            background: #fff;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            outline: none;
            margin-top: 15%;
        }        
		.contact-form input[type="button"] {
			font-weight: bold;
            height: 30px;
            color: #000;
            font-size: 15px;
            background: #fff;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            outline: none;
        }
        .contact-form a
        {
            color: #fff;
            font-size: 14px;
            font-weight: normal;
            text-decoration: none;
        }
        input[type="checkbox"] {
            width: 20%;
        }
/*
		input::placeholder {
			color: red;
		}*/
